<nav class="navbar fixed w-full z-50 transition-all duration-300 ease-in-out"
     [ngClass]="{ 'bg-white shadow-lg': isScrolled}">
  <div class="container mx-auto px-8 max-w-screen-lg flex justify-between items-center py-4">
    <!-- Logo -->
    <div class="logo-size px-4 md:px-8"
         [ngClass]="getLogoClasses()">
      <a href="/">LOGO</a>
    </div>
    <!-- Menu Toggle Button-->
    <div class="md:hidden">
      <button (click)="toggleMenu()" class="focus:outline-none">
        <img [ngSrc]="menuIcon"
          alt="" width="32" height="32" class="w-8 h-8">
      </button>
    </div>
    <!-- Links nav-->
    <ul [ngClass]="{'hidden': !menuOpen, 'flex': menuOpen }"
        class="nav-links absolute md:static top-16 md:top-0 right-0 w-full md:w-auto md:flex bg-black md:bg-transparent text-white md:flex-row flex-col md:items-center items-start transition-all duration-300 ease-in-out md:gap-12 gap-4 px-4 md:px-0">
      <li *ngFor="let link of links" class="md:my-0 my-2 w-full md:w-auto">
        <a [routerLink]="link.path"
           (click)="closeMenu()"
           class="nav-link group"
           [ngClass]="getLinkClasses()">
          {{ link.label }}
          <span class="nav-underline"
                [ngClass]="{ 'bg-white': !isScrolled || isMobile, 'bg-black': isScrolled && !isMobile }"></span>
        </a>
      </li>
    </ul>
  </div>
</nav>
