<nav class="navbar">
  <div class="logo">mi logo</div>
  <div class="menu-toggle" (click)="toggleMenu()">
    <img ngSrc="http://localhost:5000/icons/menu.svg" alt="Menu" width="24" height="24">
  </div>
  <ul class="nav-links" [ngClass]="{'active': menuOpen}">
    <li><a routerLink="/home" routerLinkActive="active">Inicio</a></li>
    <li><a routerLink="/about" routerLinkActive="active">Sobre mí</a></li>
    <li><a routerLink="/portfolio" routerLinkActive="active">Portfolio</a></li>
    <li><a routerLink="/contact" routerLinkActive="active">Contacto</a></li>
  </ul>
</nav>


<section id="home" class="hero">
  <!--texto dentro de la foto hero -->
  <div class="hero-content">
    <h1>Bienvenido a mi portfolio</h1>
    <p>Aquí encontrarás todos mis proyectos y trabajos recientes.</p>
  </div>
</section>
