/* Contenedor de la imagen con efecto parallax */
.parallax-image-container {
  position: relative;
  overflow: hidden;
  height: 400px; /* Ajusta la altura según sea necesario */
}

/* Estilo de la imagen con efecto parallax */
.parallax-image {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%); /* Centra la imagen */
  width: 100%;
  height: auto;
  will-change: transform;
  transition: transform 0.1s ease-out; /* Suavidad del movimiento */
}

